 <!--<div class="navbar navbar-inverse">-->
    <%= render 'layouts/mainnav' %>
<!--</div>-->
<div  class="jumbotron">
    <div class="container">
       
        <h1>あたらしいリサイクルのかたち</h1>
        <h3>賢くモノを活用しよう</h3>
        <li class="user_margin1"><%= link_to "ご利用方法", '#', class: "btn btn-danger btn btn-primary btn-lg", type: "button"  %></li>
    </div>
</div>

