 <!--<div class="navbar navbar-inverse">-->
    
<!--</div>-->

<div class="jumbotron">
    <%= render 'layouts/mainnav' %>
    <div class="container">
        <h1>あたらしいリサイクルのかたち</h1>
        <h3 class="user_margin2">賢くモノを活用しよう</h3>
        <p class="user_margin1"><%= link_to "ご利用方法", '#', class: "btn btn-danger btn btn-primary btn-lg", type: "button"  %></p>
    </div>
</div>


    <div class="container">
     <!--<div class="container">-->
        <div class="row">
            <div class="col-lg-6 col-sm-6 user_category_list img-responsive">
                <h3>モノを掲載</h3>
                <div class="user_bg_img1">
                    <P>貸したい</P>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 user_category_list img-responsive">
                <h3>モノを探す</h3>
                <div class="user_bg_img2">
                    <p>借りたい</p>
                </div>
            </div>
        </div>
     <!--</div>-->
    
    <%= render 'layouts/categorylist' %>
  
    </div>

 <%= render 'layouts/footer' %>