@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* items */

.items {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.user_title {
  color: red;
}


.user-box1 {
  background-image: image-url("main.png") no-repeat top center fixed;
　background-size: 100%;
}


.jumbotron {
  background-image: image-url("main2.jpg");
  width: 100%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
  padding: 50px;
  p { 
  color: white;
  }
}

.user-navbar{
  font-size: 0;
   .user-nav-list{
      background-color: #fff;
      display: inline-block;
      font-size: 14px;
      width: 20%;
    }
}

.user_margin1{
  margin-top: 10px;
}

.user_margin2{
  margin-top: 170px;
}

.user_btn1{
  margin-top: 20px;
}

.user_category_list{
  text-align: center;
}

.user_padding1{
  padding-top: 20px;
}

.user_bg_img1{
  background-image: image-url("borrow.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 60px;
  margin-bottom: 30px;
}

.user_bg_img2{
  background-image: image-url("lend.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 60px;
  margin-bottom: 30px;
}

.user-footer {
  padding: 40px;
  background-color: #1a1a1a;
  color: #fff;
}