@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* items */

.items {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.user_title {
  color: red;
}


.user-box1 {
  background-image: image-url("main.png") no-repeat top center fixed;
　background-size: 100%;
}


.jumbotron {
  background-image: image-url("main2.jpg");
  width: 100%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  padding: 80px;
  p { 
  color: white;
  }
}

.user-navbar{
  font-size: 0;
   .user-nav-list{
      background-color: #fff;
      display: inline-block;
      font-size: 14px;
      width: 20%;
    }
}

.user_margin1{
  margin-top: 20px;
}

.user_margin2{
  margin-top: 150px;
}

.user_margin3{
  margin: 0 auto;
}

.user_margin4{
  margin-bottom: 20px;
}

.user_margin5{
  margin-bottom: 50px;
}

.user_margin6{
  margin-bottom: 30px;
}

.user_margin7{
  margin-top: 30px;
}



.user_btn1{
  margin-top: 20px;
}

.user_category_list{
  text-align: center;
}

.user_padding1{
  padding: 30px;
}

.user_padding2{
  padding: 30px;
  // padding-left: 20px;
}

.user_padding3{
  padding: 20px 0px;
  margin-top: -30px;
}

.user_padding4{
  padding-top: 10px;
  padding-bottom: 15px;
}

.user_padding5{
  padding-top: 15px;
  padding-bottom: 80px;
}

.user_padding6{
  padding: 2px;
}

.user_padding7{
  padding: 30px 0px;
}

.user_padding8{
  padding: 10px 0px;
}

.user_padding9{
  padding-top: -20px;
}

.user_bg_img1{
  // background-image: image-url("borrow.jpg");
  background-color: #CE5A57;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 50px;
  margin-bottom: 30px;
}

.user_bg_img2{
  // background-image: image-url("lend.jpg");
  background-color: #78A5A3;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 50px;
  margin-bottom: 30px;
}

.user_bg_img3{
  // background-image: image-url("lend.jpg");
  background-color: #D2527F;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 50px;
  margin-bottom: 30px;
}

.user_bg_img4{
  // background-image: image-url("lend.jpg");
  background-color: #3498DB;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 50px;
  margin-bottom: 30px;
}

.user_bg_img5{
  // background-image: image-url("borrow.jpg");
  background-color: #CE5A57;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 40px;
  // margin-top: 50px;
  margin-bottom: 30px;
}

.user_left_margin1{
  margin-left: 15px;
}

.user_right_margin1{
  margin-right: 15px;
}

.user-footer {
  padding: 40px;
  background-color: #1a1a1a;
  color: #fff;
}

.user_border {
  border-style: none;
  font-weight: bold;
}

.user-words{
  padding-top: 20px;
  text-align: center;
  font-size: 19px;
}


.bg-info{
  background-color: rgb(85,85,85);
  color: #fff;
}

.container-fluid{
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

#content{
  // background-color: #f1f1f1;
  background-color: #ececec;
}

.linkArea{
width: 200px;
height: 150px;
border-color: #999999;
}

.linkArea a{
display: block;
position: absolute;
// top: 50px;
left: 55px;
width: 80%;
height: 70%;
}

.linkArea2{
width: 200px;
height: 150px;
border-color: #999999;
}
.linkArea2 a{
display: block;
position: absolute;
// top: 50px;
left: 55px;
width: 80%;
height: 90%;
}

.linkArea3{
width: 200px;
height: 150px;
border-color: #999999;
}
.linkArea3 a{
display: block;
position: absolute;
// top: 50px;
// left: 55px;
width: 100%;
height: 100%;
}

.user-height{
  margin-top: 20px;
  margin-bottom: 30px;
  height: auto;
}

.user-height2{
  height: auto;
}

.user-bg-color{
  background-color: #ececec;
}

.user-color1{
  background-color: #BDC3C7;
}

.user-color2{
  background-color: #A2DED0;
}

.user-color3{
  background-color: #E4F1FE;
}

.user-color4{
  background-color: #DADFE1;
}

.user-color5{
  background-color: #A2DED0;
}